.patagoniaForms {
  .background-rainbow {
    background: -webkit-linear-gradient(#00ffff, #6600ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .full-width {
    width: 100%;
  }

  .input-look {
    .e-input {
      border-bottom: 0;
    }
    border-radius: 4px;
    border: 1px solid lightgray;
    // :focus {
    //   border: 1px solid #18ffff;
    // }
  }
  .no-padding-bottom {
    .card-header {
      padding-bottom: 0;
    }
  }
  .smaller-text-list {
    font-size: 12px;
  }
  .e-padding-top-20 {
    padding-top: 20px;
  }
  .background-city {
    background: 
  }
}
