.patagoniaForms {
  .background-rainbow {
    background: -webkit-linear-gradient(#00ffff, #6600ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .full-width {
    width: 100%;
  }
  .card {
    border-radius: 7px;
    .card-suplimentary-actions {
      border-top: 0;
    }
  }
  .card-sign {
    height: 352px;
  }

  .input-look {
    .e-input {
      border-bottom: 0;
      &, &:focus, &.focus {
        &:not(textarea):not(select) {
          height: 35px;
        }
      }
    }
    .floating-label {
      color: #e0e0e0;
      left: 5px;
      top: 6px;
    }
    border-radius: 4px;
    border: 1px solid lightgray;
    &.input-w {
        width: 250px;
        margin-right: 15px;
    }
    &.input-focus {
      border: 2px solid #18ffff;
      .floating-label {
        color: black;
      }
    }
  }

  button {
    border-radius: 4px;
  }
  .remember-display {
    .e-check-valid {
      left: 0;
    }
    .e-checkbox label {
      padding-left: 35px;
    }
  }
  .flat {
    margin:0;
  }
  .raised {
    margin: 0;
  }

  .bg-city {
    background: linear-gradient( rgba(7, 7, 220, 0.6), rgba(7, 7, 220, 0.6) ), url('../img/city.jpg') no-repeat;
    background-size: cover;
    opacity: .7;
  }
  i.e-headline {
    height: 24px;
    line-height: normal;
  }
  .radio-check {
    label {
      color: red;
    }
  }
  .border-header-card {
    border-bottom: 1px solid lightgrey;
  }
  .btn-look {
    width: 200px;
  }
  .margin-r-icon {
    margin-right: 15px;
  }
  .para-inter {
    margin-bottom: 0;
  }
  .para-inter::before,
  .para-inter::after {
    position: relative;
    vertical-align: middle;
    display: inline-block;
    content: "";
    height: 1px;
    width: 47%;
    right: 15px;
    background-color: lightgrey;
  }
  .para-inter::after {
    left: 15px;
  }
  .card-login {
    height: 450px;
  }
  .mg-top-attach {
    margin-top: 20px;
  }
  .half-width {
    width: 50%;
    box-sizing: border-box;
  }
  .card-h-contact {
    height: 383px;
  }
  .no-padding-card {
    .card-supporting-text{
      padding: 0;
    }
  }
  .padding-card {
    padding: 16px;
  }
  .padding-card-contact {
    padding: 16px;
    box-sizing: border-box;
  }
  .avatar-card {
    width: 75px;
    height: 75px;
    border-radius: 50%;
  }
  .round-icon {
    position: relative;
    margin-top: 50px;
    margin-left: -20px;
    font-size: 22px;
    border-radius: 50%;
    border: 3px solid white;
    box-sizing: border-box;
  }
  .padding-left-para {
    padding-left: 15px;
  }
  .card-content-header {
    height: 80px;
    padding: 16px;
    border-bottom: 1px solid lightgray;
  }
  .card-content-account {
    padding: 16px;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .half-w-input {
    width: 48%;
  }
  .btn-save-w {
    width: 150px;
  }
  .btn-inter::before,
  .btn-inter::after {
    position: relative;
    vertical-align: middle;
    display: inline-block;
    content: "";
    height: 1px;
    width: 30%;
    right: 42px;
    background-color: lightgrey;
  }
  .btn-inter::after {
    left: 42px;
  }
  .padding-t-para {
    padding-top: 17px;
  }
  .display-card-subscribe {
    display: flex;
    justify-content: space-between;
  }
  .submit-h {
    height: 35px;
    margin-top: 17px;
  }
  .card-h-account {
    height: 551px;
  }
  .border-btn-nr {
    display: inline-block;
    border: 1px solid lightgray;
    border-radius: 15px;
    button {
      border:0;
    }
  }
  .btn-margin-nr {
    margin-left: 10px;
    margin-right: 10px;
    &.content {
      width: 30%;
    }
  }
  .margin-nr {
    margin: 30px;
  }
  .btn-no-border {
    border: 0;
  }
  .e-steppers-container .e-stepper-content.active {
    padding: 0;
  }
  .padding-list-stepper {
    padding: 25px 100px;
    &.border-t-discount {
      border-top: 1px solid lightgray;
    }
    i {
      float: right;
    }
    .align-btn-continue {
      float: right;
      margin-right: 16px;
    }
    .align-discount {
      line-height: 37px;
    }
  }
  .article-image {
    width: 75px;
    height: 75px;
  }
  .padding-r-para {
    padding-right: 16px;
  }
  .checkout-w {
    width: 60%;
    margin: 0 auto;
  }
  .a-inter::before,
  .a-inter::after {
    position: relative;
    vertical-align: middle;
    display: inline-block;
    content: "";
    height: 1px;
    width: 45%;
    right: 15px;
    background-color: lightgrey;
  }
  .a-inter::after {
    left: 15px;
  }
  .margin-t-paypal {
    margin-top: 17px;
  }
  .footer-checkout-w {
    width: 83%;
    margin:0 auto;
  }
  .third-w-input {
    width: 32%;
  }
  .two-third-w-input {
    width: 64%;
  }
  .bl-done {
    width: 75px;
    height: 75px;
    margin: 0 auto;
    border: 1px solid #18ffff;
    border-radius: 50%;
    .done-icon {
      width: 64px;
      height: 64px;
      margin: 5px;
      border-radius: 50%;
    }
  }
}
