.patagoniaHeadersFooters {
  .margin-logo {
    margin-left: 16px;
    margin-right: 16px;
  }
  .margin-list-item {
    margin-left: 25px;
    margin-right: 25px;
  }
  .last-item {
    margin-right: 0;
  }
  .align-list-item {
    line-height: 42px;
  }
  .header-h {
    height: 42px;
  }
  li a:hover {
    text-decoration: underline;
  }
  .border-logo {
    border-right: 1px solid lightgrey;
  }
  .no-border {
    border: 0;
  }
  .btn-onright {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    &:focus {
      outline: none;
    }
  }
  .logo-shadow {
    box-shadow: 4px 0 7px lightgrey;
  }
  .badge-nr {
    margin: 0;
    padding-left: 3px;
    padding-right: 3px;
    border: 1px solid transparent;
  }
  .margin-badges {
    margin-left: 5px;
    margin-right: 5px;
  }
  .no-mg-bottom {
    margin-bottom: 0;
  }
  .avatar-profil {
    margin-right: -15px;
    width: 42px;
    height: 42px;
    border-radius: 50%;
  }
  .btn-onleft {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    &:focus {
      outline: none;
    }
  }
  .bg-mountain {
    background: linear-gradient( rgba(7, 7, 220, 0.6), rgba(7, 7, 220, 0.6) ), url('../img/mountain.jpg') no-repeat;
    background-size: cover;
    opacity: .7;
  }
  .centered {
    display: flex;
    justify-content: center;
    align-content: center;
  }
  .signup-btn {
    background: inherit;
    border: 1px solid lightgrey;
    width: 200px;
    height: 50px;
    &:hover, &:focus {
      background: inherit;
      border: 2px solid lightgrey;
    }
    &:active {
      background: inherit;
    }
  }
  .header-padding {
    padding-left: 50px;
    padding-right: 50px;
  }
  .explore-btn {
    padding-left: 15px;
    padding-right: 15px;
    background: inherit;
    border: 1px solid lightgrey;
    border-radius: 25px;
    &:hover, &:focus {
      background: inherit;
      border: 1px solid lightgrey;
      outline: none;
    }
  }
  .head-title {
    width: 35%;
  }
  .bg-lake {
    background: linear-gradient( rgba(23, 28, 47, 0.8), rgba(23, 28, 47, 0.8) ), url('../img/lake.jpg') no-repeat;
    background-size: cover;
    .signup-btn {
      border: 0;
    }
    li a:hover {
      text-decoration: none;
      color: #40c4ff!important;
    }
  }
  .btn-big {
    width: 300px;
    height: 50px;
    btn {
      border: 0;
    }
    .e-input {
      &, &:focus, &.focus {
      &:not(textarea):not(select) {
        height: 50px;
        }
      }
    }
    .floating-label {
      top: 12px;
    }
  }
  .bg-blue {
    a {
      display: inline-block;
      height: inherit;
      line-height: 28px;
    }
    li a:hover {
      text-decoration: none;
      background-color: #80d8ff;
    }
  }
  .padding-list {
    padding: 15px 25px;
  }
  .align-menu {
    line-height: 48px;
    padding-bottom: 4px;
    margin-bottom: 0;
  }
  .e-body2 {
    font-size: 18px;
  }
  .border-nav {
    border-bottom: 1px solid #eee;
  }
  .border-active {
    border-bottom: 5px solid #40c4ff;
    margin-bottom: -3px;
  }
  .nav-h {
    height: 80px;
    ul.bg-blue {
      line-height: 80px;
    }
    .bg-blue {
      a {
        line-height: 40px;
        &:hover {
          background-color: white;
          border-bottom: 5px solid #40c4ff;
          margin-bottom: -3px;
        }
      }
    }
  }
  .head-title-grad {
    width: 70%;
  }
  .article-area {
    width: 85%;
    margin: auto;
  }
  .fab-mini {
    border-radius: 50%;
  }
  .card .card-suplimentary-actions {
    border-top: 1px solid #eee;
  }
  .text-remove {
    text-decoration: line-through;;
  }
  .article-h {
    height: 180px;
  }
  .footer-w {
    width: 80%;
    margin: 0 auto;
    ul:first-child {
      &.e-list-inline {
        display: flex;
        justify-content: space-between;
      }
    }
    .footer-list-menu {
      list-style-type: none;
    }
    i {
      padding-right: 15px;
    }
  }
  .logo-footer {
    margin-top: 20px;
    padding-left: 15px;
  }
  .line-h {
    height: 53px;
  }
  .vertical-logo {
    margin-top: -15px;
  }
  .padding-icons {
    padding-right: 15px;
  }
  .bg-forest {
    background: linear-gradient( rgba(7, 7, 220, 0.7), rgba(7, 7, 220, 0.7) ), url('../img/river.jpg') no-repeat;
    background-size: cover;
    opacity: .7;
    .border-input-icon {
      border: 1px solid lightgrey;
    }
    .btn-onright {
      padding-right: 0;
    }
  }
  .align-follow {
    i {
      padding-right: 15px;
    }
  }
}
