.patagoniaForms .background-rainbow {
  background: -webkit-linear-gradient(#00ffff, #6600ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.patagoniaForms .full-width {
  width: 100%;
}
.patagoniaForms .card {
  border-radius: 7px;
}
.patagoniaForms .card .card-suplimentary-actions {
  border-top: 0;
}
.patagoniaForms .card-sign {
  height: 335px;
}
.patagoniaForms .input-look {
  border-radius: 4px;
  border: 1px solid lightgray;
}
.patagoniaForms .input-look .e-input {
  border-bottom: 0;
}
.patagoniaForms .input-look .e-input:not(textarea):not(select) {
  height: 35px;
}
.patagoniaForms .input-look.input-w {
  width: 250px;
  margin-right: 15px;
}
.patagoniaForms .input-look.input-focus {
  border: 2px solid #18ffff;
}
.patagoniaForms button {
  border-radius: 4px;
}
.patagoniaForms .remember-display .e-check-valid {
  left: 0;
}
.patagoniaForms .remember-display .e-checkbox label {
  padding-left: 35px;
}
.patagoniaForms .flat {
  margin: 0;
}
.patagoniaForms .raised {
  margin: 0;
}
.patagoniaForms .bg-city {
  background: linear-gradient(rgba(7, 7, 220, 0.6), rgba(7, 7, 220, 0.6)), url('../img/city.jpg') no-repeat;
  background-size: cover;
  opacity: .7;
}
.patagoniaForms i.e-display-1 {
  line-height: normal;
}
.patagoniaForms .radio-check label {
  color: red;
}
.patagoniaForms .border-header-card {
  border-bottom: 1px solid lightgrey;
}
.patagoniaForms .btn-look {
  width: 200px;
}
.patagoniaForms .margin-r-icon {
  margin-right: 15px;
}
.patagoniaForms .para-inter::before,
.patagoniaForms .para-inter::after {
  position: relative;
  vertical-align: middle;
  display: inline-block;
  content: "";
  height: 1px;
  width: 47%;
  right: 15px;
  background-color: lightgrey;
}
.patagoniaForms .para-inter::after {
  left: 15px;
}
.patagoniaForms .card-login {
  height: 450px;
}
.patagoniaForms .mg-top-attach {
  margin-top: 20px;
}
.patagoniaForms .half-width {
  width: 50%;
  box-sizing: border-box;
}
.patagoniaForms .card-h-contact {
  height: 383px;
}
.patagoniaForms .no-padding-card .card-supporting-text {
  padding: 0;
}
.patagoniaForms .padding-card {
  padding: 16px;
}
.patagoniaForms .padding-card-contact {
  padding: 16px;
  box-sizing: border-box;
}
.patagoniaForms .avatar-card {
  width: 75px;
  height: 75px;
  border-radius: 50%;
}
.patagoniaForms .round-icon {
  position: relative;
  margin-top: 50px;
  margin-left: -20px;
  font-size: 22px;
  border-radius: 50%;
  border: 3px solid white;
  box-sizing: border-box;
}
.patagoniaForms .padding-left-para {
  padding-left: 15px;
}
.patagoniaForms .card-content-header {
  height: 80px;
  padding: 16px;
  border-bottom: 1px solid lightgray;
}
.patagoniaForms .card-content-account {
  padding: 16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.patagoniaForms .half-w-input {
  width: 48%;
}
.patagoniaForms .btn-save-w {
  width: 150px;
}
.patagoniaForms .btn-inter::before,
.patagoniaForms .btn-inter::after {
  position: relative;
  vertical-align: middle;
  display: inline-block;
  content: "";
  height: 1px;
  width: 30%;
  right: 42px;
  background-color: lightgrey;
}
.patagoniaForms .btn-inter::after {
  left: 42px;
}
.patagoniaForms .padding-t-para {
  padding-top: 17px;
}
.patagoniaForms .display-card-subscribe {
  display: flex;
  justify-content: space-between;
}
.patagoniaForms .submit-h {
  height: 35px;
  margin-top: 17px;
}
.patagoniaForms .card-h-account {
  height: 551px;
}
.patagoniaForms .border-btn-nr {
  display: inline-block;
  border: 1px solid lightgray;
  border-radius: 15px;
}
.patagoniaForms .border-btn-nr.margin-nr {
  margin: 20px;
}
.patagoniaForms .border-btn-nr button {
  border: 0;
}
.patagoniaForms .btn-margin-nr {
  margin-left: 10px;
  margin-right: 10px;
}
.patagoniaForms .btn-no-border {
  border: 0;
}
.patagoniaForms .e-steppers-container .e-stepper-content.active {
  padding: 0;
}
.patagoniaForms .e-twolinelist {
  width: 80%;
  margin: 0 auto;
}
.patagoniaForms .e-twolinelist .content {
  width: 15%;
}
footer {
  width: 100%;
  height: 50px;
  line-height: 50px;
}
