body {
  background-color: #3F51B5;
}
.patagoniaMedia img {
  display: block;
}
.patagoniaMedia .e-container {
  border-radius: 10px;
  padding: 5% 0;
}
.patagoniaMedia .container {
  width: 90%;
  margin: 0 auto;
}
.patagoniaMedia .badge {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 1px solid #ffffff;
  display: flex;
  margin-right: 15px!important;
  cursor: pointer;
}
.patagoniaMedia .card-container {
  border-radius: 8px;
  width: 100%;
}
.patagoniaMedia .card-container.sharp {
  border-radius: 0 0 8px 8px;
}
.patagoniaMedia .card-container.sharp .track-bar {
  height: 4px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  bottom: auto;
}
.patagoniaMedia .card-container ul {
  margin-top: 4px;
  margin-left: 10px;
}
.patagoniaMedia .card-container li.play-control:hover {
  background: #2196F3;
}
.patagoniaMedia .current-album {
  height: 350px;
}
.patagoniaMedia .text-container {
  padding: 10px;
  width: 25%;
  flex-wrap: wrap;
}
.patagoniaMedia .text-container h1,
.patagoniaMedia .text-container p {
  width: 100%;
}
.patagoniaMedia .text-container li {
  cursor: pointer;
}
.patagoniaMedia .btn-icon {
  background-color: transparent;
  border: 0;
}
.patagoniaMedia .btn-icon:focus,
.patagoniaMedia .btn-icon:active {
  outline: none;
}
.patagoniaMedia .btn-icon.preview-btn {
  position: absolute;
  border: 1px solid #ffffff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}
.patagoniaMedia .btn-icon.play-video-btn {
  border: 1px solid #ffffff;
}
.patagoniaMedia .btn-icon.play-video-btn-black {
  border: 1px solid #000000;
}
.patagoniaMedia .img-container {
  display: flex;
  width: 37.5%;
  flex-flow: 1;
}
.patagoniaMedia .playlist {
  width: 37.5%;
  padding: 10px;
}
.patagoniaMedia .playlist .list-container {
  overflow-y: scroll;
  flex-grow: 1;
  padding: 0 15px;
}
.patagoniaMedia .playlist .list-container li {
  padding: 5px 0;
  cursor: pointer;
}
.patagoniaMedia .playlist .list-container li .song-icon {
  display: none;
}
.patagoniaMedia .playlist .list-container li .song-number {
  display: block;
  width: 24px;
  margin: 0;
}
.patagoniaMedia .playlist .list-container li:hover,
.patagoniaMedia .playlist .list-container li.selected {
  /* add .selected to a li element
            to display a play icon. Also add the corect
            text color class. Eg: e-text-cyan-A100
          */
  color: #84FFFF;
}
.patagoniaMedia .playlist .list-container li:hover .song-number,
.patagoniaMedia .playlist .list-container li.selected .song-number {
  display: none;
}
.patagoniaMedia .playlist .list-container li:hover .song-icon,
.patagoniaMedia .playlist .list-container li.selected .song-icon {
  display: block;
}
.patagoniaMedia .playlist .player {
  box-sizing: border-box;
  padding: 15px;
}
.patagoniaMedia .playlist .player .controls {
  min-width: 100px;
}
.patagoniaMedia .playlist .player .song-defilation {
  overflow: hidden;
  flex-grow: 1;
  height: 30px;
}
.patagoniaMedia .playlist .player .song-defilation .name-container {
  width: 500px;
}
.patagoniaMedia .pos-relative {
  position: relative;
}
.patagoniaMedia .btn-absolute {
  position: absolute;
  top: 35%;
  left: 21.4%;
}
.patagoniaMedia .album {
  width: 18%;
  box-sizing: border-box;
}
.patagoniaMedia .album img {
  border-radius: 8px;
}
.patagoniaMedia .album .layer {
  opacity: 0;
  border-radius: 8px;
}
.patagoniaMedia .album:hover .preview-btn {
  opacity: 1;
  -moz-transition: opacity 0.4s ease-in-out;
  -webkit-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}
.patagoniaMedia .album:hover .layer {
  opacity: 0.4;
  -moz-transition: opacity 0.6s ease-in-out;
  -webkit-transition: opacity 0.6s ease-in-out;
  transition: opacity 0.6s ease-in-out;
}
.patagoniaMedia .small-player {
  background: url('../img/sketch1.jpg') center center no-repeat;
  background-size: cover;
  flex-grow: 1;
  height: 350px;
}
.patagoniaMedia .small-player .card-heading {
  align-items: baseline;
}
.patagoniaMedia .small-player .card-heading h1 {
  max-width: 70%;
}
.patagoniaMedia .small-player .play-slider {
  margin: 0 -16px;
}
.patagoniaMedia .small-player .card-content {
  flex-wrap: wrap;
}
.patagoniaMedia .small-player .list-container {
  height: 200px;
  overflow-y: scroll;
  padding: 0 10px;
}
.patagoniaMedia .small-player .list-container li {
  padding: 5px 0;
  cursor: pointer;
}
.patagoniaMedia .small-player .list-container li .song-icon {
  display: none;
}
.patagoniaMedia .small-player .list-container li .song-number {
  display: block;
  width: 24px;
  margin: 0;
}
.patagoniaMedia .small-player .list-container li:hover,
.patagoniaMedia .small-player .list-container li.selected {
  /* add .selected to a li element
            to display a play icon. Also add the corect
            text color class. Eg: e-text-cyan-A100
          */
  color: #84FFFF;
}
.patagoniaMedia .small-player .list-container li:hover .song-number,
.patagoniaMedia .small-player .list-container li.selected .song-number {
  display: none;
}
.patagoniaMedia .small-player .list-container li:hover .song-icon,
.patagoniaMedia .small-player .list-container li.selected .song-icon {
  display: block;
}
.patagoniaMedia .track-slider {
  height: 350px;
}
.patagoniaMedia .best-tracks {
  overflow-x: scroll;
}
.patagoniaMedia .best-tracks .track {
  box-sizing: border-box;
  width: 180px;
  min-width: 180px;
  padding: 0 5px;
  cursor: pointer;
}
.patagoniaMedia .best-tracks .track .image-container {
  position: relative;
}
.patagoniaMedia .best-tracks .track .image-container img {
  border-radius: 8px;
}
.patagoniaMedia .best-tracks .track:hover .btn-icon.preview-btn {
  opacity: 1;
  -moz-transition: opacity 0.4s ease-in-out;
  -webkit-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}
.patagoniaMedia .playlist-view .image-container {
  width: 50%;
}
.patagoniaMedia .playlist-view .image-container img {
  flex-grow: 1;
}
.patagoniaMedia .playlist-view .list-container {
  box-sizing: border-box;
  width: 50%;
  overflow-y: scroll;
  flex-grow: 1;
  padding: 15px;
  margin: 15px;
}
.patagoniaMedia .playlist-view .list-container li {
  padding: 5px 0;
  cursor: pointer;
}
.patagoniaMedia .playlist-view .list-container li .song-icon {
  display: none;
}
.patagoniaMedia .playlist-view .list-container li .song-number {
  display: block;
  width: 24px;
  margin: 0;
}
.patagoniaMedia .playlist-view .list-container li:hover,
.patagoniaMedia .playlist-view .list-container li.selected {
  /* add .selected to a li element
            to display a play icon. Also add the corect
            text color class. Eg: e-text-cyan-A100
          */
  color: #84FFFF;
}
.patagoniaMedia .playlist-view .list-container li:hover .song-number,
.patagoniaMedia .playlist-view .list-container li.selected .song-number {
  display: none;
}
.patagoniaMedia .playlist-view .list-container li:hover .song-icon,
.patagoniaMedia .playlist-view .list-container li.selected .song-icon {
  display: block;
}
.patagoniaMedia .header-menu {
  padding: 0 10px!important;
}
.patagoniaMedia .tabs-container .slider-container {
  display: none;
}
.patagoniaMedia .tabs-container .item-container {
  padding: 4px 10px;
}
.patagoniaMedia .tabs-container .title-container {
  flex-grow: 1;
  padding: 0 10px;
}
.patagoniaMedia .tabs-container .album-thumb {
  width: 40px;
  height: 40px;
  border-radius: 6px;
}
.patagoniaMedia .tabs-container .list-btn-container .pause-btn {
  display: none;
  border-radius: 50%;
  border: 0;
  width: 35px;
  height: 35px;
}
.patagoniaMedia .tabs-container .list-btn-container .pause-btn:focus {
  outline: none;
}
.patagoniaMedia .tabs-container li.playing-song .slider-container {
  display: block;
}
.patagoniaMedia .tabs-container li.playing-song .item-container {
  padding: 0 10px;
}
.patagoniaMedia .tabs-container li.playing-song .item-container .list-btn-container .play-btn {
  display: none;
}
.patagoniaMedia .tabs-container li.playing-song .item-container .list-btn-container .pause-btn {
  display: block;
}
.patagoniaMedia .recent-tracks {
  box-sizing: border-box;
}
.patagoniaMedia .recent-tracks .title-container {
  padding: 0 10px;
}
.patagoniaMedia .recent-tracks .controls {
  padding: 0 10px;
}
.patagoniaMedia .recent-tracks .list-container {
  box-sizing: border-box;
  overflow-y: scroll;
  padding: 0 10px;
  height: 500px;
}
.patagoniaMedia .recent-tracks .list-container li {
  padding: 5px 0;
  cursor: pointer;
}
.patagoniaMedia .recent-tracks .list-container li .song-icon {
  display: none;
}
.patagoniaMedia .recent-tracks .list-container li .song-number {
  display: block;
  width: 24px;
  margin: 0;
}
.patagoniaMedia .recent-tracks .list-container li:hover,
.patagoniaMedia .recent-tracks .list-container li.selected {
  /* add .selected to a li element
          to display a play icon. Also add the corect
          text color class. Eg: e-text-cyan-A100
        */
  color: #84FFFF;
}
.patagoniaMedia .recent-tracks .list-container li:hover .song-number,
.patagoniaMedia .recent-tracks .list-container li.selected .song-number {
  display: none;
}
.patagoniaMedia .recent-tracks .list-container li:hover .song-icon,
.patagoniaMedia .recent-tracks .list-container li.selected .song-icon {
  display: block;
}
.patagoniaMedia .large-thumb .title-container {
  box-sizing: border-box;
  padding: 10px;
}
.patagoniaMedia .large-thumb .play-slider {
  padding: 10px;
}
.patagoniaMedia .large-thumb .controls {
  padding: 10px;
}
.patagoniaMedia .large-thumb.with-bg {
  background: url('../img/blue.jpg') center center no-repeat;
  background-size: cover;
}
.patagoniaMedia .play-thumb {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.patagoniaMedia .video-player {
  height: 500px;
}
.patagoniaMedia .layer {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
.patagoniaMedia .green-layer {
  opacity: 0.8;
  background: radial-gradient(#009688, #00796b, #37474f);
}
.patagoniaMedia .transparent-layer {
  opacity: 0.7;
}
.patagoniaMedia .time-layer {
  opacity: 0.5;
  position: absolute;
  top: 4%;
  left: 4%;
  padding: 0 6px;
}
.patagoniaMedia .time-layer.text-layer {
  opacity: 1;
}
.patagoniaMedia .add-padding {
  padding: 10px;
}
.patagoniaMedia .add-padding-left {
  padding-left: 10px;
}
.patagoniaMedia .add-padding-right {
  padding-right: 10px;
}
.patagoniaMedia .add-padding-bottom {
  padding-bottom: 10px;
}
.patagoniaMedia .add-pointer {
  cursor: pointer;
}
.patagoniaMedia .rounded-corners {
  border-radius: 6px;
}
.patagoniaMedia .elipsis-text {
  display: block;
  /* Fallback for non-webkit */
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.patagoniaMedia .elipsis-description {
  display: block;
  /* Fallback for non-webkit */
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}
.patagoniaMedia .box-sizing {
  box-sizing: border-box;
}
.patagoniaMedia .flex-container {
  display: flex;
}
.patagoniaMedia .flex-container.e-strech-items {
  align-items: stretch;
}
.patagoniaMedia .flex-container.e-flex-col {
  flex-direction: column;
}
.patagoniaMedia .flex-container.e-flex-col .self-align-right {
  align-self: flex-end;
}
.patagoniaMedia .flex-container.e-flex-nowrap {
  flex-wrap: nowrap;
}
.patagoniaMedia .flex-container.e-justify-between {
  justify-content: space-between;
}
.patagoniaMedia .flex-container .e-flex-grow {
  flex-grow: 1;
}
.patagoniaMedia .custom-scrollbar::-webkit-scrollbar {
  width: 7px;
  height: 7px;
  background-color: transparent;
}
.patagoniaMedia .custom-scrollbar::-webkit-scrollbar-thumb {
  background: #EEEEEE;
  border-radius: 6px;
}
.patagoniaMedia .custom-scrollbar:hover::-webkit-scrollbar-thumb {
  background: #b5b5b5;
}
.patagoniaMedia .set-height {
  height: 380px;
}
.patagoniaMedia .full-width {
  width: 100%;
}
.patagoniaMedia .round-img {
  border-radius: 50%;
}
footer {
  width: 100%;
  height: 50px;
  line-height: 50px;
}
